<configuration  scan= "true"  scanPeriod= "10 seconds"  debug= "true" >
	<property  resource= "logback.properties"  />
	
	<contextName> ${context.name} </contextName>                          <!-- The name of the project -->
   
	<appender  name= "console"  class= "ch.qos.logback.core.ConsoleAppender" >
		<encoder>
			<pattern> ${conversion.pattern} </pattern>
		</encoder>
	</appender>
	
	<!-- root file log -->
	<appender  name= "root-file-error"
